// Makan Hati Cyrilic
@font-face {
  font-family: 'Makan';
  src: url('/src/assets/fonts/Makan Hati Cyrilic/MakanHatiCyrillic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Zvezda NHZDN
@font-face {
  font-family: 'Zvezda NHZDN';
  src: url('/src/assets/fonts/Zvezda NHZDN/Zvezda NHZDN.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}