:root {

  // base
  --font-family: Makan, sans-serif;
  --second-family: Zvezda NHZDN, sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #000;
  --circle-color: rgba(234, 234, 234, 0.5);
  --circle-color-hover: rgba(255, 255, 255, 0.5);
  --agate-grey: #B7B7B7;
  --accent-color: #b683a5;

  // bar
  --bar-h: 5px;
  --handler-size: 15px;

  // font sizes
  --fz-12: 0.75rem;
  --fz-14: 0.875rem;
  --fz-16: 1rem;
  --fz-18: 1.125rem;
  --fz-20: 1.25rem;

  // font weights
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  // borders
  --bd-10: 10px;
  --bd-20: 20px;
  --bd-30: 30px;
  --bd-100: 100px;
}
