.progress-bar{
    width: 100%;
    padding: 5px 0;
    pointer-events: all;
}

.progress{
    width: 100%;
    height: var(--bar-h);
    touch-action: none;
    border-radius: var(--bd-10);
    position: relative;
    will-change: opacity, transform;
    cursor: pointer;
    &::before{
        content: '';
        position: absolute;
        inset: -6px 0;
    }
}

.bars{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--bd-10);
    background-color: var(--circle-color);
    overflow: hidden;
}

.progress-bar_buffered{
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: var(--bd-10);
}

.progress-bar_loaded{
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: var(--bd-10);
}

.progress-bar_handler-wrap{
    left: -100%;
    position: absolute;
    width: 100%;
}

.progress-bar_handler{
    position: absolute;
    right: calc(var(--handler-size) * -1 / 2);
    width: var(--handler-size);
    height: var(--handler-size);
    background-color: var(--accent-color);
    border-radius: 50%;
    top: calc((var(--bar-h) - var(--handler-size)) / 2);
}

.tooltip-wrapper{
    display: block;
    position: relative;
}

.tooltip{
    position: absolute;
    bottom: 20px;
    background-color: var(--circle-color);
    padding: 3px;
    border-radius: var(--bd-10);
    opacity: 1;
    transform: translateX(-50%);
    transition: opacity .2s ease;
}